body {
  margin: 0;
  background: #0b0f2a;
  color: white;
  font-family: Arial;
  text-align: center;
}

#game {
  padding: 10px;
}

#scene {
  height: 300px;
  border: 2px solid white;
  margin: 10px;
  position: relative;
  overflow: hidden;
}

#player {
  width: 130px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

#choices button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background: #1e90ff;
  color: white;
  border-radius: 10px;
  font-size: 16px;
}

#choices button:hover {
  background: #0d6efd;
}
