body {
  background: black;
  color: white;
  text-align: center;
  font-family: Arial;
}

#player {
  width: 120px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
